<div id="header">
    <!-- Header Top start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <div class="navbar-brand d-flex align-items-center">
                <img class="me-2" src="../../../favicon.ico" width="30"><b>Social</b>Network
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header_top" aria-controls="header_top" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header_top">
                <div class="input-group mx-auto mx-lg-5 mx-xl-5 my-3 my-lg-0 my-xl-0">
                    <input id="find_data" type="text" class="form-control form-control-sm" placeholder="Find...">
                    <button id="find_button" type="button" class="btn btn-sm btn-secondary"><i class="bi bi-search"></i></button>
                </div>
                <ul class="navbar-nav ms-auto my-3 my-lg-0 my-xl-0">
                    <button type="button" class="btn btn-sm btn-outline-primary me-0 me-lg-3 me-xl-3">Upload</button>
                </ul>
                <ul class="navbar-nav ms-auto my-3 my-lg-0 my-xl-0">
                    <div class="account d-flex align-items-center">
                        <div class="account-box d-flex align-items-center justify-content-center"><i class="bi bi-person-fill"></i></div>
                        <div class="ms-2">
                            <p class="fw-bold mb-0">Waseem</p>
                            <p class="text-muted mb-0">Arshad</p>
                        </div>
                    </div>
                </ul>
                <ul class="navbar-nav d-block d-lg-none d-xl-none">
                    <li *ngFor="let data of allMenu" class="nav-item me-3">
                        <a href="" class="nav-link">{{ data.menu }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Top end -->
    <!-- Header Bottom start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block d-xl-block">
        <div class="container">
            <!--
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header_bottom" aria-controls="header_bottom" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            -->
            <div class="collapse navbar-collapse" id="header_bottom">
                <ul class="navbar-nav">
                    <li *ngFor="let data of allMenu" class="nav-item me-3">
                        <a href="" class="nav-link">{{ data.menu }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Bottom end -->
</div>
