<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- Section Videos start -->
                <div id="section_videos" class="mb-4">
                    <div class="row mb-2">
                        <span class="col-6 col-lg-4 col-xl-4 text-start fw-bold">Videos</span>
                        <span class="col-6 col-lg-4 col-xl-4 text-end"><a href="" class="text-decoration-none section-view-all">Browse all videos</a></span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-big-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2"><span class="fw-bold">How to improve your skills</span><br>Waseem Arshad</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>10498</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2">John Stainlor</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>6537</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2">John Doe</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>4523</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="row">
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2">Michael Knligh</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>1984</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2">Ahmed Yasiin</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>1545</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-add-box d-flex align-items-center justify-content-center"><i class="bi bi-cloud-upload me-3"></i><p>Upload<br>Your Own Video</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Videos end -->
                <!-- Section People start -->
                <div id="section_people" class="my-4">
                    <div class="row mb-1">
                        <span class="col-6 col-lg-4 col-xl-4 text-start fw-bold">People</span>
                        <span class="col-6 col-lg-4 col-xl-4 text-end"><a href="" class="text-decoration-none section-view-all">View all</a></span>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-big-box d-flex align-items-center justify-content-center"><i class="bi bi-people-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2"><span class="fw-bold">Waseem Arshad</span><br>User interface designer</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>10498</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-people-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2">John Stainlor</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-people-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2">John Doe</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="row">
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-people-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2">Michael Knligh</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-people-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2">Ahmed Yasiin</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-add-box d-flex align-items-center justify-content-center"><i class="bi bi-bullseye me-3"></i><p>Show<br>Your Work</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section People end -->
                <!-- Section Documents start -->
                <div id="section_documents" class="my-4">
                    <div class="row mb-2">
                        <span class="col-6 col-lg-4 col-xl-4 text-start fw-bold">Documents</span>
                        <span class="col-6 col-lg-4 col-xl-4 text-end"><a href="" class="text-decoration-none section-view-all">Browse all documents</a></span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-big-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-7 text-start ps-2"><span class="fw-bold">Mobile ui & ux guide 2013</span><br>by William Makhoja</div>
                                            <div class="col-5 text-end fw-bold pe-2"><i class="bi bi-eye me-1"></i>18375</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2"><span class="fw-bold">2013 Marketing trends</span><br><i class="bi bi-eye me-1"></i>16577</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2"><span class="fw-bold">2013 Marketing trends</span><br><i class="bi bi-eye me-1"></i>16577</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="row">
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2"><span class="fw-bold">HTML 5 and usage</span><br><i class="bi bi-eye me-1"></i>13945</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-xl-12">
                                    <div class="content my-2">
                                        <div class="content-small-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                        <div class="content-title d-flex align-items-center justify-content-center">
                                            <div class="col-12 text-start ps-2"><span class="fw-bold">How to become expert</span><br><i class="bi bi-eye me-1"></i>11489</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="content my-2">
                                        <div class="content-add-box d-flex align-items-center justify-content-center"><i class="bi bi-plus-circle me-3"></i><p>Show<br>Your Document</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Documents end -->
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                <!-- Section Activity start -->
                <div id="section_activity" class="mb-4">
                    <div class="row">
                        <span class="col-6 text-start fw-bold">Activity</span>
                        <span class="col-6 text-end"><a href="" class="text-decoration-none section-view-all">View timeline / Filter activities</a></span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-chat-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">John Stainlor</b><small>commented</small></p>
                                    <p class="activty-desc mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-chat-fill me-1"></i>2 minutes ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">John Stainlor</b><small>uploaded a new video</small></p>
                                    <p class="activty-desc mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-camera-video-fill me-1"></i>8 minutes ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-file-earmark-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">John Stainlor</b><small>shared a document</small></p>
                                    <p class="activty-desc mb-0">"Lorem Ipsum is simply dummy text"</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-file-earmark-fill me-1"></i>18 minutes ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-unlock-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">Arjun</b><small>unlocked new badge</small></p>
                                    <p class="activty-desc mb-0">Lorem Ipsum</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-unlock-fill me-1"></i>45 minutes ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-camera-video-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">Michael</b><small>uploaded a new video</small></p>
                                    <p class="activty-desc mb-0">Lorem Ipsum is simply dummy text</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-camera-video-fill me-1"></i>3 hour ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <div class="activty d-flex align-items-center">
                                <div class="activty-box d-flex align-items-center justify-content-center"><i class="bi bi-heart-fill"></i></div>
                                <div class="ms-2">
                                    <p class="mb-0"><b class="me-1">John Stainlor</b><small>liked a video</small></p>
                                    <p class="activty-desc mb-0">Lorem Ipsum is simply</p>
                                    <p class="text-muted mb-0"><small><i class="bi bi-heart-fill me-1"></i>1 day ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Activity end -->
                <!-- Section Channels start -->
                <div id="section_channels" class="mt-4">
                    <div class="row">
                        <span class="col-6 text-start fw-bold">Channels</span>
                        <span class="col-6 text-end"><a href="" class="text-decoration-none section-view-all">Browse all channels</a></span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Google</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Dribble</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Microsoft</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Behance</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Weather Channel</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Gurus</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">iMedia</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Creativeye</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Khan Studios</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 my-1">
                            <div class="channels">
                                <div class="channels-box d-flex align-items-center justify-content-center"><i class="bi bi-collection-play-fill"></i></div>
                                <div class="channels-title d-flex align-items-center justify-content-center">Yahoo</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Channels end -->
            </div>
        </div>
    </div>
</div>
